{% extends "layout.html.twig" %}

{% block title %}
    Статья: {{ post.title }}
{% endblock %}


{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Статья</li>
    </ol>
</nav>

{% if is_admin() %}
    <a class="btn btn-sm btn-success my-3" href="/post/{{ post.id }}/edit">Редактировать</a>
    <a class="btn btn-sm btn-danger my-3" href="/post/{{ post.id }}/remove" onclick="return confirmDelete({{ post.id }})">Удалить</a>
{% endif %}

<h2 class="mb-4">{{ post.title }}</h2>

<div class="overflow-x-auto">{{ post.content | raw }}</div>

<script>
    function confirmDelete(id) {
        return confirm("Do you confirm deletion of post with id " + id + "?");
    }
</script>
{% endblock %}


